# SPDX-FileCopyrightText: Florian Müllner <fmuellner@gnome.org>
# SPDX-License-Identifier: CC0-1.0

*~
*.sw?
*.pot
.buildconfig
.eslintcache
.flatpak-builder
.vscode
node_modules
subprojects/libshew
subprojects/.wraplock
